**Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple**

In [ ]:
my_string = "Hello, world!"
my_list = [1, 2, 3, 4, 5]
my_float = 3.14
my_tuple = (10, 20, 30)

merged_data = [my_string, my_list, my_float, my_tuple]

**Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.**

In [1]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1.

print("Data types:")
print("var1:", type(var1))
print("var2:", type(var2))
print("var3:", type(var3))
print("var4:", type(var4))

Data types:
var1: <class 'str'>
var2: <class 'str'>
var3: <class 'list'>
var4: <class 'float'>

**Q3:Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) ****

**(i) / (Division Operator):
The / operator is used for division and returns the quotient as a floating-point number.**

In [2]:
x = 10
y = 3

result = x / y
print(result)

3.3333333333333335

**(ii) % (Modulo Operator):
The % operator is used for modulo or remainder division. It returns the remainder after dividing the left operand by the right operand.**

In [3]:
x = 10
y = 3

result = x % y
print(result)

1

**(iii) // (Floor Division Operator):
The // operator is used for floor division. It divides the left operand by the right operand and returns the largest integer less than or equal to the quotient.**

In [4]:
x = 10
y = 3

result = x // y
print(result)

3

**(iv) ** (Exponentiation Operator):
The ** operator is used for exponentiation. It raises the left operand to the power of the right operand.**

In [5]:
x = 2
y = 3

result = x ** y
print(result)

8

**Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.**

In [8]:
a=[1,2,3,True,False,"sunil",3+8j,45.7,88.9,[1,2,3],(6,6,9),{111,12,13},{"name":"sunil","class":"B.tech"}]
for i in a:
  print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
True <class 'bool'>
False <class 'bool'>
sunil <class 'str'>
(3+8j) <class 'complex'>
45.7 <class 'float'>
88.9 <class 'float'>
[1, 2, 3] <class 'list'>
(6, 6, 9) <class 'tuple'>
{12, 13, 111} <class 'set'>
{'name': 'sunil', 'class': 'B.tech'} <class 'dict'>

**Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.**

In [17]:
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

count = 0

while A % B == 0:
    A = A // B
    count += 1

if count > 0:
    print(f"The number A is divisible by B, and it can be divided {count} times.")
else:
    print("The number A is not divisible by B.")

Enter the number A: 15
Enter the number B: 6
The number A is not divisible by B.

In [14]:
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

count = 0

while A % B == 0:
    A = A // B
    print("A :",A)
    count += 1
    print("count :",count)

if count > 0:
    print(f"The number A is divisible by B, and it can be divided {count} times.")
else:
    print("The number A is not divisible by B.")

Enter the number A: 12
Enter the number B: 2
A : 6
count : 1
A : 3
count : 2
The number A is divisible by B, and it can be divided 2 times.

**Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.**

In [18]:
a=list(range(1,26))

In [21]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [22]:
for i in a:
  if i%3==0:
    print(f"the element {i} is divisible by 3")
  else:
    print(f"the element {i} is not divisible by 3")

the element 1 is not divisible by 3
the element 2 is not divisible by 3
the element 3 is divisible by 3
the element 4 is not divisible by 3
the element 5 is not divisible by 3
the element 6 is divisible by 3
the element 7 is not divisible by 3
the element 8 is not divisible by 3
the element 9 is divisible by 3
the element 10 is not divisible by 3
the element 11 is not divisible by 3
the element 12 is divisible by 3
the element 13 is not divisible by 3
the element 14 is not divisible by 3
the element 15 is divisible by 3
the element 16 is not divisible by 3
the element 17 is not divisible by 3
the element 18 is divisible by 3
the element 19 is not divisible by 3
the element 20 is not divisible by 3
the element 21 is divisible by 3
the element 22 is not divisible by 3
the element 23 is not divisible by 3
the element 24 is divisible by 3
the element 25 is not divisible by 3

**Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.**

**In programming, the terms "mutable" and "immutable" refer to the ability of an object or data type to be modified or changed after it is created**

**Immutable data types:
Immutable data types are those whose values cannot be modified after they are created. If you want to modify an immutable object, you need to create a new object with the updated value. Examples of immutable data types in Python include:**

In [24]:
x = 10
x += 5  # This creates a new integer object with the value 15
x

15

In [25]:
y = 3.14
y = y + 1  # This creates a new float object with the value 4.14
y

4.140000000000001

In [27]:
message = "Hello"
message += ", World!"  # This creates a new string object with the value "Hello, World!"
message

'Hello, World!'

**Mutable data types:
Mutable data types are those that can be modified or changed after they are created. You can modify the values of mutable objects directly without creating a new object. Examples of mutable data types in Python include:**

In [29]:
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the existing list by adding an element at the end
my_list

[1, 2, 3, 4]

In [32]:
a=[1,2,3,4]
a[3]
a[3]=111
a

[1, 2, 3, 111]

In [30]:
my_dict = {'name': 'John', 'age': 25}
my_dict['age'] = 26  # Modifies the existing dictionary by changing the value of the 'age' key
my_dict

{'name': 'John', 'age': 26}

In [34]:
my_set = {1, 2, 3}
my_set.add(4)  # Modifies the existing set by adding an element
my_set

{1, 2, 3, 4}